* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    cursor: inherit;
    color: inherit;
    white-space: inherit;
    background: transparent;
    text-decoration: none;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    font: normal 14px/16px Arial, sans-serif;
    background: #fff;
    cursor: default;
    color: #000;
    white-space: nowrap;
    min-width: 320px;
    min-height: 320px;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.textinput {
    background: #fff;
    border: 2px solid #ccc;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    cursor: text;
    width: 280px;
    border-radius: 2px;
    box-shadow: 0 1px 1px hsl(0, 0%, 90%) inset;
    font-weight: bold;
    color: #777;
}
.textinput:focus {
    border-color: hsl(285, 67%, 80%);
    box-shadow: 0 0 2px hsl(285, 67%, 80%);
    color: hsl(285, 37%, 40%);
}

.button {
    font-weight: bold;
    color: #777;
    border: 2px solid #ccc;
    height: 32px;
    line-height: 28px;
    padding: 0 6px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background: #eee;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 -1px 1px hsl(0, 0%, 90%) inset;
}
.button:focus {
    border-color: hsl(285, 67%, 80%);
    background-color: hsl(285, 67%, 90%);
    box-shadow: 0 0 2px hsl(285, 67%, 80%);
    color: hsl(285, 37%, 40%);
}

h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #777;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #777;
}

a {
    cursor: pointer;
}

em {
    font-weight: bold;
}

a.link {
    color: hsl(285, 37%, 60%);
}

.listItem {
    display: block;
    padding: 8px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.listItem:first-child {
    border-top: 1px solid #eee;
}

.displayLink {
    font-size: 11px;
    line-height: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconButton {
    position: relative;
    vertical-align: top;
    padding-left: 28px;
}
.iconButton.disabled {
    opacity: 0.5;
}

.iconButton-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    width: 16px;
    height: 16px;
    margin: auto;
    background-image: url(images/icons-16.png?1);
    background-repeat: norepeat;
}
.iconButton-icon.play {
    background-position: 0 0;
}
.iconButton-icon.pause {
    background-position: -16px 0;
}
.iconButton-icon.volume-up {
    background-position: -32px 0;
}
.iconButton-icon.volume-down {
    background-position: -48px 0;
}
.iconButton-icon.search {
    background-position: -64px 0;
}
.iconButton-icon.remove {
    background-position: -80px 0;
}
.iconButton-icon.back {
    background-position: -96px 0;
}
.iconButton-icon.exit {
    background-position: -112px 0;
}
.iconButton-icon.enqueue {
    background-position: -128px 0;
}
.iconButton:focus .iconButton-icon.play {
    background-position: 0 -16px;
}
.iconButton:focus .iconButton-icon.pause {
    background-position: -16px -16px;
}
.iconButton:focus .iconButton-icon.volume-up {
    background-position: -32px -16px;
}
.iconButton:focus .iconButton-icon.volume-down {
    background-position: -48px -16px;
}
.iconButton:focus .iconButton-icon.search {
    background-position: -64px -16px;
}
.iconButton:focus .iconButton-icon.remove {
    background-position: -80px -16px;
}
.iconButton:focus .iconButton-icon.back {
    background-position: -96px -16px;
}
.iconButton:focus .iconButton-icon.exit {
    background-position: -112px -16px;
}
.iconButton:focus .iconButton-icon.enqueue {
    background-position: -128px -16px;
}

.quitButton {
    width: 72px;
}

@media (max-width: 500px) {
    .iconButton.collapsible {
        width: 32px;
        padding: 0;
    }
    .iconButton.collapsible .iconButton-text {
        display: none;
    }
    .quitButton {
        width: 32px;
    }
}
