.errorPanel {
    background-color: hsl(285, 67%, 92%);
    color: hsl(285, 37%, 40%);
    padding: 8px;
    margin: 8px;
    border-radius: 2px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-image: url(images/grey-logo-48.png);
    margin-right: 12px;
}
