.page-title {
    position: relative;
    overflow: hidden;
    background-color: hsl(285, 67%, 92%);
    padding: 24px;
}

.page-logo {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-image: url(images/logo-32.png);
    margin-right: 12px;
}

.page-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 60px;
    color: hsl(285, 37%, 40%);
}

.page-body {
    padding: 24px;
}

.page-newpanel {
    margin-top: 24px;
}

@media (max-width: 500px) {

    .page-title {
        padding: 12px;
    }

    .page-logo {
        width: 24px;
        height: 24px;
        background-image: url(images/logo-24.png);
        margin-right: 6px;
    }

    .page-heading {
        font-size: 24px;
    }

    .page-body {
        padding: 12px;
    }

    .page-newpanel {
        margin-top: 12px;
    }

}
