.songTitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel {
    display: inline-block;
    vertical-align: top;
    margin: 12px;
    white-space: nowrap;
    background: #eee;
    border-radius: 3px;
    padding: 8px;
    max-width: 380px;
    width: 100%;
}

.ogggeSearchKeywordWrapper {
    position: absolute;
    top: 0;
    right: 99px;
    bottom: 0;
    left: 0;
}

.ogggeSearchButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 92px;
}

.enqueueUrlWrapper {
    position: absolute;
    top: 0;
    right: 109px;
    bottom: 0;
    left: 0;
}

.enqueueButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 102px;
}

.playlistItem-content {
    margin-right: 102px;
}
.playlistItem-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    width: 110px;
}

@media (max-width: 832px) {

    .panel {
        display: block;
        max-width: none;
        width: auto;
        margin-top: 24px;
    }

}
@media (max-width: 500px) {

    .panel {
        margin: 12px;
    }

    .ogggeSearchKeywordWrapper {
        right: 39px;
    }

    .ogggeSearchButtonWrapper {
        width: 32px;
    }

    .enqueueUrlWrapper {
        right: 39px;
    }

    .enqueueButtonWrapper {
        width: 32px;
    }

    .playlistItem-content {
        margin-right: 38px;
    }
    .playlistItem-buttons {
        width: 45px;
    }

}
