.songTitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchPanel {
    max-width: 380px;
    background: #eee;
    padding: 8px;
    border-radius: 3px;
}

.searchKeywordWrapper {
    position: absolute;
    top: 0;
    right: 99px;
    bottom: 0;
    left: 0;
}

.searchButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 92px;
}

.listItem-content {
    margin-right: 110px;
}
.listItem-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    width: 118px;
}

@media (max-width: 832px) {

    .searchPanel {
        max-width: none;
    }

}

@media (max-width: 500px) {

    .searchKeywordWrapper {
        right: 39px;
    }

    .searchButtonWrapper {
        width: 32px;
    }

    .listItem-content {
        margin-right: 38px;
    }
    .listItem-buttons {
        width: 45px;
    }

}
